.exchange {
   &__title {
      margin-bottom: 20px;
      font-weight: 500;
      font-size: 32px;
      line-height: 120%;
      text-align: center;

      @media (min-width:768px) {
         font-size: 40px;
      }

      @media (min-width:1024px) {
         font-size: 64px;
      }
   }

   &__container {
      max-width: 720px;
      margin: 0 auto;
   }

   &__body {
      margin-bottom: 40px;
      padding: 10px 10px;
      background-color: #1d1d1d;
   }

   &__header {
      margin-bottom: 20px;
      display: flex;
      justify-content: space-between;

      button {
         align-self: flex-start;
      }
   }

   &__header-buttons {
      display: flex;
      gap: 12px;
   }

   &__group {
      display: flex;
      align-items: center;
      gap: 8px;
   }

   &__table {
      display: grid;
      grid-template-columns: 1fr;
      gap: 10px;
      min-width: 0;

      &>* {
         padding: 10px;
      }

      @media (min-width:992px) {
         grid-template-columns: 1fr 1fr;
      }
   }

   &__button {
      margin-top: 40px;
      display: flex;
      justify-content: center;
   }

   &__info-time {
      margin-top: 4px;
      margin-bottom: 4px;
      display: grid;
      grid-template-columns: 1fr 1fr;

      &>div:not(:last-child) {
         margin-bottom: 0;
      }
   }

   &__not-paid {
      padding: 5px 8px;
      font-family: Stratos;
      font-size: 16px;
      line-height: 120%;
      text-transform: uppercase;
      color: #FF6338;
      border: 2px solid #101010;
      background-color: #373737;
   }

   &__green {
      color: #00FF8A;
   }
}