.exchange-input {
   &__value-body {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;
      background-color: #141414;
      min-width: 0;
      min-height: 160px;
   }

   &__in-dollars {
      font-size: 20px;
      line-height: 120%;
      color: #C1C1C1;
   }

   &__value {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      width: 100%;
      font-weight: 500;
      font-size: 72px;
      color: #C1C1C1;

      @media (min-width:992px) {
         font-size: 80px;
      }

      input {
         width: 100%;
         color: inherit;
         font-size: inherit;
         text-align: right;

         input {
            width: 100%;
         }


      }
   }
}