.tab-buttons {

   &__shell {
      margin-top: 20px;
      margin-bottom: 10px;
      display: flex;
      justify-content: center;

      &.light {
         .tab-buttons__body {
            width: 100%;
         }

         .tab-buttons__item {
            flex: 1 1 1%;
         }
      }
   }

   &__body {
      position: relative;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      border: 1px solid #373737;
      border-radius: 24px;
      padding: 3px;
   }

   &__item {
      padding: 10px 16px;
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 40px;
      font-family: Stratos;
      font-size: 15px;
      text-transform: uppercase;
      color: #848484;
      transition: all 0.3s;

      &:disabled {
         pointer-events: none;
      }

      @media (min-width:1024px) {
         &:hover {
            color: #141414;
         }
      }
   }

   &__mask {
      padding: 3px;
      pointer-events: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      left: 0;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      transition: width 0.3s, height 0.3s, transform 0.3s;
      clip-path: inset(var(--offset-top) var(--offset-left) var(--offset-bottom) var(--offset-right) round 60px);
      background-color: #141414;
      transition: clip-path 0.3s;
      overflow: hidden;

      span {
         // border-radius: 60px;
         color: #F4F6F6;
      }

      // background-color: red;
   }
}