:root {
   --font-family: "Unbounded", sans-serif;
   --second-family: "Stratos", sans-serif;
   --paylect-black: #000000;
   --paylect-mine-shaft: #373737;
   --paylect-outrageous-orange: #ff6338;
   --color-white-solid: #ffffff;
   --color-white-solid-opacity-35: #ffffff59;
   --color-grey-1: #030303;
   --color-spring-green-73: #00ff83;
   --color-grey-76: #c1c1c1;
   --color-spring-green-45: #22c55e;
   --color-grey-96: #f4f6f6;
   --color-modal-background: rgba(10, 10, 10, 0.8);
   --color-almost-black: #141414;
}