.button-to-top {
   &__button {
      position: relative;
      display: inline-flex;
      justify-content: space-between;
      align-items: center;
      gap: 6px;
   }

   &__anchor-text {
      opacity: 0;
      white-space: nowrap;
   }

   &__mask {
      display: block;
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      color: inherit;
   }
}